

# VENV
Venv/

# CHECKPOINT
Checkpoint/logs/*
!Checkpoint/logs/.gitkeep

Checkpoint/export/*
!Checkpoint/export/.gitkeep

Checkpoint/save/*
!Checkpoint/save/.gitkeep

Checkpoint/tensorboard/*
!Checkpoint/tensorboard/.gitkeep


# SAVE
Dataset/train/*
!Dataset/train/.gitkeep

Dataset/dev/*
!Dataset/dev/.gitkeep

Dataset/test/*
!Dataset/test/.gitkeep

Dataset/raw/*
!Dataset/raw/.gitkeep

# WANDB
wandb/*

# CACHE
__pycache__