# VENV
Venv/

# CHECKPOINT
Checkpoint/logs/*
Checkpoint/export/*
Checkpoint/save/*
Checkpoint/tensorboard/*

# SAVE
Dataset/train/*
Dataset/dev/*
Dataset/test/*
Dataset/raw/*

# TEST
test.*
__pycache__